<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post Feed</title>
  </head>
  <body>
    <h1>test</h1>
    <ul>
      <% @posts.each do |post| %>
        <li> <%= post.name %> </li>
        <li> <%= post.content %> </li>
      <% end %>
    </ul>
  </body>
</html>
